*{
  margin: 0;
}

.App{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{

  border-bottom: 1px solid lightgray;

  img{
    height: 40px;
    width: 100px;
    object-fit: contain;
    padding: 20px;  }
}